<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700' rel='stylesheet' type='text/css'>

<div id="main">
	<div id="circle">
		colabo<b>lei</b>
		<br>
		<span style="font-size:16px">
			#pivotabrasil
		</span>
	</div>

	<div id="lid">
		O Colabolei é uma rede social desenhada para ajudar 
		os cidadãos a elaborar as leis  que lhes representam
	</div>

	<div id="three_proposal_container">
		<div class="proposal security">

			<div class="proposal_tag">
				Segurança
			</div>

			<div class="proposal_title">
				PEC 50/2006 que proíbe  o voto secreto na Câmara dos Deputados
				e no Senado Federal
			</div>

			<div class="proposal_date">
				22.06.13 15 participando
			</div>

			<div class="proposal_details">
				Inclui o art 50A e altera os arts. 52, 55 e 66 da Constituição Federal para
				estabelecer o voto aberto nos casos em que menciona, terminando com o voto secreto parlamentar
			</div>

			<div class="proposal_stats">
				<div style="float:left; width:16px; height:16px; border-radius:8px; border: solid 2px white">
				</div>
				<div style="float:left;">
					&nbsp;&nbsp;45
				</div>

				<div style="float:left; width:16px; height:16px; border-radius:8px; border: solid 2px white; margin-left:50px">
				</div>
				<div style="float:left;">
					&nbsp;&nbsp;45
				</div>

				<div style="float:left; width:16px; height:16px; border-radius:8px; border: solid 2px white; margin-left:50px">
				</div>
				<div style="float:left;">
					&nbsp;&nbsp;45K
				</div>
			</div>
			
		</div>

		<div class="proposal security">

			<div class="proposal_tag">
				Segurança
			</div>

			<div class="proposal_title">
				PLS - Projeto de lei do Senado nº 204 de 2011
			</div>

			<div class="proposal_date">
				22.06.13 15 participando
			</div>

			<div class="proposal_details">
				Adciona o inciso VIII no art. 1º na Lei nº 8.072 de 1990 (Lei dos Crimes Hediondos) para prever
				os delitos de concussão, corrupção passiva e corrupção ativa como crimes hediondos e aumenta a 
				dos delitos previstos nos arts. nº 316, 317
			</div>

			<div class="proposal_stats">
				<div style="float:left; width:16px; height:16px; border-radius:8px; border: solid 2px white">
				</div>
				<div style="float:left;">
					&nbsp;&nbsp;45
				</div>

				<div style="float:left; width:16px; height:16px; border-radius:8px; border: solid 2px white; margin-left:50px">
				</div>
				<div style="float:left;">
					&nbsp;&nbsp;45
				</div>

				<div style="float:left; width:16px; height:16px; border-radius:8px; border: solid 2px white; margin-left:50px">
				</div>
				<div style="float:left;">
					&nbsp;&nbsp;45K
				</div>
			</div>
		</div>

		<div class="proposal education">

			<div class="proposal_tag">
				Educação
			</div>

			<div class="proposal_title">
				PEC 50/2006 que proíbe  o voto secreto na Câmara dos Deputados
				e no Senado Federal
			</div>

			<div class="proposal_date">
				22.06.13 15 participando
			</div>

			<div class="proposal_details">
				Inclui o art 50A e altera os arts. 52, 55 e 66 da Constituição Federal para
				estabelecer o voto aberto nos casos em que menciona, terminando com o voto secreto parlamentar
			</div>

			<div class="proposal_stats">
				<div style="float:left; width:16px; height:16px; border-radius:8px; border: solid 2px white">
				</div>
				<div style="float:left;">
					&nbsp;&nbsp;45
				</div>

				<div style="float:left; width:16px; height:16px; border-radius:8px; border: solid 2px white; margin-left:50px">
				</div>
				<div style="float:left;">
					&nbsp;&nbsp;45
				</div>

				<div style="float:left; width:16px; height:16px; border-radius:8px; border: solid 2px white; margin-left:50px">
				</div>
				<div style="float:left;">
					&nbsp;&nbsp;45K
				</div>
			</div>
		</div>
	</div>
</div>