<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>ColaboLei</title>
		<link rel="stylesheet" href="../../assets/stylesheets/default.css">
	</head>

	<script type="text/javascript" src="../../assets/javascripts/jquery-1.10.1.min.js"></script>

	<script type="text/javascript">

	$(function()
	{

		$("#registerBtn").click(function(){
			$("#mainLogin").hide()
			$("#mainRegister").show()
		})
		$("#loginBtn").click(function(){
			$("#mainLogin").show()
			$("#mainRegister").hide()
		})


	})()	

	</script>

	<body>
		
		<div id="main">

			<div id="topo">
				<h1>ColaboLei</h1>
			</div>
			<!-- END topo -->

			<div id="cols">

				<div class="doubleCollum">

					<div class="leftCollum">
						<img src="" alt="Cebolinha" id="homeImg" />
					</div>
					<!-- END .leftCollum -->

					<div class="rightCollum">

						<div id="mainLogin">

							<h2>Bem-vindo(a)</h2>

							<form id="loginForm" action="#" method="post" >

								<p>

									<label type="text"  for="loginFormEmail">e-mail</label>
									<input id="loginFormEmail" name="email" />

									<label for="loginFormSenha">senha (<em class="info"><a href="" title="Esqueci minha senha">esqueceu?</a></em>)</label>
									<input type="password" id="loginFormSenha" name="senha" />

									<input type="submit" value="logar" name="logar" />

								</p>

								<br class="clear" />

							</form>

							<div id="socialLogin">
								<h4>Logar com redes sociais</h4>
								<a id="facebookLoginBtn" title="Logar com o Facebook" />
									<img src="" alt="Facebook Icon" />
								</a>
							</div>

							<div class="sendOfSection">
								<a id="registerBtn" title="Cadastre-se" class="btn" >
									Cadastre-se
								</a>
							</div>
							<!-- END socialLogin -->

						</div>
						<!-- END mainLogin -->

						<div id="mainRegister">

							<h2>Cadastro</h2>

							<form id="loginForm" action="#" method="post" >

								<p>

									<label for="loginFormEmail">e-mail</label>
									<input type="text" id="loginFormEmail" name="email" />

									<label for="loginFormSenha">senha</label>
									<input type="password"  id="loginFormSenha" name="senha" />

									<label for="loginFormSenha2">repetir a senha</label>
									<input type="password" id="loginFormSenha2" name="senha" />

									<input type="submit" value="cadastrar" name="cadastrar" />

								</p>

							</form>

							<div class="sendOfSection">
								<a id="loginBtn" title="Voltar" class="btn" >
									Voltar
								</a>
							</div>
							<!-- END socialLogin -->

						</div>
						<!-- END mainLogin -->

					</div>
					<!-- END .rightCollum -->

					<br class="clear" />

				</div>
				<!-- END .singleCollum -->

			</div>
			<!-- END cols -->

			<div id="base">

				<p id="copy">&copy; ColaboLei 2013</p>

			</div>
			<!-- END base -->

		</div>
		<!-- END main -->

	</body>
</html>