/* 

	copy ColaboLei 2013

*/

*
{
	margin:0;
	padding:0;
	outline:none;
	position:relative;
	-webkit-transition:background-color 0.7s;
	-moz-transition:background-color 0.7s;
	-ms-transition:background-color 0.7s;
	-o-transition:background-color 0.7s;
	transition:background-color 0.7s;
}

body 
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-align: left;
	color:#333;	
}

ul
{
	margin-top:12px;
}

ul li
{
	margin-left: 20px;
}

ul.mainList
{
	list-style:none;
	font-weight: bold;
	font-size:15px;
}

ul.mainList li
{
	margin: 7px 7px 7px 0px;
	background:rgb(238, 235, 227);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	border-radius: 3px;
	padding:8px;
	cursor:pointer;
}

ul.mainList li:hover
{
	background:rgb(235, 213, 159);
}

.clear
{
	clear:both;
}
.btn 
{
	border-radius: 6px;
	border:1px #cecece solid;
	padding:5px;
	cursor: pointer;
}
.btn:hover 
{
	background:rgb(235, 213, 159);
}

div.sendOfSection
{
	margin-top:22px;
}

em.info
{
	font-size: 0.8em;
}

label 
{
	display: block;
	margin-top:6px;
}
input 
{
	display: block;
	margin-top:2px;
	width:100%;
	border-radius: 6px;
	border:1px #cecece solid;
	padding:5px;
}

input[type=submit]
{
	margin-top:8px;
	width:100%;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.35);
	cursor:pointer;
}

input[type=submit]:hover
{
	background:rgb(235, 213, 159);
}

/* structure */

div#main
{
	width: 800px;
	text-align: center;
	margin:0 auto;
}

	div#topo
	{
		height:57px;
		padding-top: 40px;
	}

	div#cols
	{
		text-align: left;
		margin-top: 12px;
		padding-bottom:40px;
	}

		/* ssingleCollum */
		div.singleCollum
		{
			width:100%;
		}
		/* END singleCollum */

		/* doubleCollum */
		div.doubleCollum
		{
			width:100%;
		}

		div.doubleCollum>div 
		{
			float:left;
		}

			div.leftCollum
			{
				width:500px;
			}

				/* VIEW: index */
				#homeImg
				{
					width:100%;
					height:300px;
				}
				#socialLogin
				{
					padding:20px 20px 0px 20px
				}
				#registerBtn, #loginBtn
				{
					margin-top:20px;
				}

				#mainRegister, #mainLogin
				{
					display: block;
				}
				#mainRegister
				{
					display: none;
				}
				/* VIEW: END index */

				/* VIEW: home */

				#novaProposta
				{
					position: absolute;
					bottom: 0;
					right: 0;
				}

				/* VIEW: END home; */

				

				/* VIEW: proposta */

				.proposta
				{
					font-size:16px;
					width:800px !important;
					margin:60px auto 0 auto;
					color:rgba(0, 0, 0, 0.62);
					text-align:center;
				}

				.proposta h1
				{
					font-size:34px;
				}

				.proposta p
				{
					margin-top:10px;
					line-height: 1.5em;
					text-align: justify;
					cursor: pointer;
					padding: 10px 100px;
					border-radius: 4px;
				}

				.proposta p:hover
				{
					background:rgba(0,0,0,0.15);
				}

				a.comentario
				{
					position: absolute;
					top:10px;
					right: 10px;
				}
				a.comentario img 
				{
					width:20px;
					height: 14px;
				}
				a.comentario:hover
				{

				}

				#alterarProposta
				{
					position: absolute;
					right:130px;
					bottom:0px;
				}
				/* VIEW: END proposta; */

				

			div.rightCollum
			{
				width:260px;
				padding:0px 20px;
			}
			/* END rightCollum */

		/* END doubleCollum */

	/* END cols */


	div#base 
	{
		height:60px;
		padding:20px;
		font-size: 12px;
	}
	/* END base */